<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans&family=Galada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
   <div class="app-header"><p class="h_text" onclick="window.location.href='/'">Find color Project</p>
        <p class="h_text1" onclick="window.location.href='/index'" >model</p>
        <p class="h_text2" onclick="window.location.href='/down'">download</p>
    </div>
     <div style="width: 100%; height: 100vh; text-align: center;">
         <p class="m2" style="color: black; padding-top: 25vh;">Download Our Model</p>
         <a href="https://github.com/SaebyeolShin/Colorization_UI">https://github.com/SaebyeolShin/Colorization_UI</a>
     </div>
<!--    <div style="width: 100%; height: 100vh; text-align: center; background: #081640;">-->
<!--       <p class="p1">Pretrained Models</p>-->
<!--    </div>-->
</body>
</html>